<p class="h4">Seresco app</p>
<p>Bienvenidos a la aplicación demo de Seresco</p>
<p>Funcionalidades:</p>
<ul>
    <li><strong>Mantenimiento de alumnos.</strong> Permite crear, modificar y eliminar registros de alumnos.</li>
    <li><strong>Mantenimiento de profesores</strong>. Permite crear, modificar y eliminar registros de profesores.</li>
    <li><strong>Visualizar el listado de alumnos por profesor.</strong> En el listado de profesores, de click en el
        botón <span class="badge rounded-pill bg-primary">Alumnos</span> para ver la lista de alumnos asignados al profesor.</li>
    <li><strong>Permite asignar y desasignar alumnos a un profesor.</strong> En el listado de alumnos por profesor,
        usted puede <span class="badge rounded-pill bg-primary">Asignar</span> o <span class="badge rounded-pill bg-danger">Desasignar</span> alumnos a un profesor.
</ul>
<hr/>
<p class="fw-light">Desarrollado por André Bedregal &lt;andre.bedregal at gmail.com&gt; para Seresco.</p>